body {
    margin: 0%;
    background-color: #3F979B;
}

.required {
    color: blue;
}

fieldset {
    position: relative;
    width: 50rem;
    height: 35vw;
    left: 20vw;
    border-radius: 4px;
    font-family: 'poppins', sans-serif;
    background-color: #93BFCF;
    box-shadow: -3px 3px 10px 2px rgba(49, 49, 49, 0.671);
}

input {
    background-color: whitesmoke;
    border-radius: 4px;
    font-family: 'poppins', sans-serif;
}

textarea {
    border-radius: 5px;
}

label {
    margin-right: 10px;
}